* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto ,Arial, Helvetica, sans-serif;
}
h1 {
    font-family: "Caveat";
}
#bg-hb {
    background-image: url(../img/photography-2751464_640.jpg);
    background-repeat: repeat-x;
    @media (min-width: 1024px) {
        background-image: url(../img/photography-2751464_1280.jpg);
    }
    @media (min-width: 1280px) {
        background-image: url(../img/photography-2751464_1920.jpg);
    }
}
ul {
    list-style-type: none;
}
.carte:hover {
    transform: scale(1.015);
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    border: none;
}