* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto" ,Arial, Helvetica, sans-serif!important;
}
h1 {
    font-family: "Caveat"!important;
}
#bg-hb {
    background-image: url(../img/photography-2751464_640.jpg);
    background-repeat: repeat-x;
    @media (min-width: 1024px) {
        background-image: url(../img/photography-2751464_1280.jpg);
    }
    @media (min-width: 1280px) {
        background-image: url(../img/photography-2751464_1920.jpg);
    }
}
ul {
    list-style-type: none;
}
.carte:hover {
    transform: scale(1.015);
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    border: none;
}

// Enlever les flèches par défaut de l'input number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}